* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f9;
}

.headerContainer {
  display: flex;
  width: 100%;
  height: 58px;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.logo {
  font-family: 'Poppins', 'Arial', 'Verdana', sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #6070ff;
  margin-left: 2rem;
}

.burgerIcon {
  margin-right: 2rem;
}

.navLinksContainer,
.mobileNone {
  display: none;
}

.heroMainContainer {
  margin: 0;
  height: auto;
  width: 100%;
  background-color: rgb(255, 255, 255);
  background-image: url(image/mobile\ bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  border-bottom-left-radius: 80px 80px;
}

.contentContainer {
  width: 60%;
  margin-left: 2rem;
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.AboutContentContainer {
  width: 80%;
  margin-left: 2rem;
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
}

.headingTxt {
  font-family: 'Poppins', 'Arial', 'Verdana', sans-serif;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  color: #172b4d;
}

.paragraph {
  font-family: 'Poppins', 'Arial', 'Verdana', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #344563;
  padding: 10px 0;
}

.connectMeLink {
  font-family: 'Poppins', 'Arial', 'Verdana', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.socialMediaContainer {
  margin: 1rem 0;
  display: flex;
  gap: 1.5rem;
  list-style-type: none;
}

.socialMediaIcon:hover {
  fill: rgb(96, 112, 255);
}

.worksGridContainer {
  display: grid;
  grid-template-columns: auto;
  gap: 6rem;
  border-radius: 10px;
  margin: 6rem 10px;
  padding: 10px;
}

.worksFlexContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid rgb(223, 225, 230);
  border-radius: 16px;
  background: rgb(255, 255, 255);
}

.txtWrapper {
  width: 80%;
}

.workImgContainer img {
  width: 100%;
  height: auto;
  padding-bottom: 15px;
}

.workDetailContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.projecTitle {
  font-family: 'Poppins', 'Arial', 'Verdana', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: rgb(23, 43, 77);
}

.canopyContainer {
  display: flex;
  gap: 1.5rem;
  padding: 3px 0;
}

.canopyContainer h4 {
  font-family: 'Poppins', 'Arial', 'Verdana', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.projectOrderedList {
  display: flex;
  gap: 1.5rem;
  list-style: disc;
  color: rgb(122, 134, 154);
  font-family: 'Poppins', 'Arial', 'Verdana', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.projectDetail {
  font-family: 'Poppins', 'Arial', 'Verdana', sans-serif;
  color: #344563;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.projectUnorderdList {
  display: flex;
  gap: 0.5rem;
  list-style-type: none;
  margin: 0;
}

.projectUnorderdList li {
  font-family: 'Poppins', 'Arial', 'Verdana', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  background-color: rgb(235, 235, 255);
  padding: 4px 12px;
  border-radius: 8px;
  color: rgb(96, 112, 255);
}

.btnWrapper {
  padding: 5px 0;
}

.btn-project {
  border: 1px solid rgb(96, 112, 255);
  border-radius: 8px;
  padding: 12px;
  color: rgb(96, 112, 255);
  background-color: #fff;
  font-family: 'Poppins', 'Arial', 'Verdana', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.btn-project:hover {
  background-color: #6070ff;
  color: white;
  transition: all ease 1s;
}

.btn-project:active {
  background-color: hsl(235, 72%, 48%);
  color: white;
  transition: all ease 0.9s;
}

.aboutMainContainer {
  background-color: white;
  width: 100%;
  height: auto;
  padding-bottom: 5rem;
}

.mainList {
  padding-top: 1.5rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', 'Arial', 'Verdana', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.categoryName {
  padding: 20px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.border {
  border-bottom: solid rgb(229, 229, 229) 2px;
}

.subList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 5px;
  font-family: 'Poppins', 'Arial', 'Verdana', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.sublistContent {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
  height: 66.72px;
  border-radius: 8px;
  background: rgb(247, 247, 249);
  padding: 12px;
}

.sublistContent img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.contactMainBackground {
  background-color: white;
}

.contactMeMainContainer {
  background-color: rgb(96, 112, 255);
  width: 100%;
  height: auto;
  border-top-left-radius: 80px 80px;
  background-image: url(image/contact\ mg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 20px;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0 20px;
}

.contactContainer h2 {
  padding-top: 5rem;
  font-family: 'Poppins', 'Arial', 'Verdana', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.contactContainer p {
  font-family: 'Poppins', 'Arial', 'Verdana', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: rgb(235, 235, 255);
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 20px;
}

.formContainer input {
  width: 100%;
  padding: 13px 20px;
  margin-top: 5px;
  box-sizing: border-box;
  border: 1px solid rgb(207, 216, 220);
  border-radius: 8px;
  outline: none;
}

.formContainer textarea {
  width: 100%;
  height: 175px;
  padding: 13px 20px;
  box-sizing: border-box;
  border: 2px solid rgb(207, 216, 220);
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  resize: none;
  font-family: 'Poppins', 'Arial', 'Verdana', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  outline: none;
  columns: 30;
}

.formContainer textarea:focus,
input:focus {
  border-color: rgb(127, 140, 255);
}

.modal-main-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
  background-color: rgba(193, 199, 208, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.0s, opacity 0.5s;
}

.active {
  visibility: visible;
  opacity: 1;
}

.modal-container {
  width: 90%;
  height: 85%;
  border: 1px solid rgb(223, 225, 230);
  padding: 16px;
  border-radius: 16px;
  background-color: rgb(255, 255, 255);
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
}

@media (min-width: 375px) {
  .heroMainContainer {
    background-size: cover;
  }

  .contentContainer {
    width: 70%;
  }
}

@media (min-width: 768px) {
  /* header section */
  .burgerIcon {
    display: none;
  }

  .logo {
    margin-left: 4rem;
  }

  .navLinksContainer {
    display: flex;
    gap: 1rem;
    margin-right: 4rem;
    list-style-type: none;
  }

  .navLinksContainer a {
    font-family: 'Poppins', 'Arial', 'Verdana', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    color: #344563;
  }

  .navLinksContainer a:hover {
    color: rgb(96, 112, 255);
  }

  .headerContainer {
    top: 0;
    position: sticky;
  }/* hero section */
  .heroMainContainer {
    background-image: url(image/Hero\ bg.svg);
    background-size: contain;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
  }

  .contentContainer {
    padding-top: 0;
  }

  .headingTxt {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;
    width: 48%;
  }

  .paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }/* work section */

  .worksGridContainer {
    margin: 6rem 6rem;
    align-items: center;
    justify-content: center;
  }

  .worksFlexContainer {
    flex-direction: row;
    gap: 3rem;
  }

  .workImgContainer img {
    padding-bottom: 0;
    width: 100%;
  }

  .workDetailContainer {
    width: 60%;
  }

  .projecTitle {
    font-size: 40px;
    line-height: 52px;
  }

  .canopyContainer {
    gap: 2rem;
  }

  .canopyContainer h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  .projectOrderedList {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .projectDetail {
    font-size: 16px;
    width: 100%;
  }

  .flexReverse {
    flex-direction: row-reverse;
    gap: 3rem;
    padding-left: 3rem;
  }

  .mobileNone {
    display: inline;
  }/* about section */

  .aboutMainContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-top-right-radius: 80px 80px;
  }

  .AboutContentContainer {
    height: auto;
    width: 100%;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    padding: 5rem 5rem;
    margin: 0;
  }

  .aboutTxtWrapper {
    padding-top: 10px;
    width: 40%;
  }

  .AboutContentContainer .headingTxt {
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .AboutContentContainer .paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .mainList {
    width: 50%;
    padding-top: 0;
  }

  .subList {
    flex-direction: row;
  }

  .sublistContent {
    flex-direction: column;
    align-items: flex-start;
    width: 120px;
    height: auto;
  }/* contact me section */

  .contactMeMainContainer {
    background-image: url(image/contact\ bg.svg);
    background-position: center;
    display: flex;
    align-items: center;
  }

  .contactContainer {
    width: 50%;
  }

  .formContainer {
    width: 35%;
    align-items: center;
  }

  .formContainer input,
  textarea {
    border-radius: 2px;
    height: 48px;
  }
}
